body {
    font-family: Arial, sans-serif;
    width: 860px;
    margin: auto;
    margin-top: 6em;
}

#game {
    display: block;
    overflow: auto;
}

#board {
    width: 420px;
    height: 420px;
    border-collapse: collapse;
    table-layout: fixed;
    box-sizing: border-box;
    float: left;
}

tr {
    max-height: 33%;
}

td {
    border: 3px solid black;
    line-height: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 45px;  /* The X is larger than the O, we have to normalize*/
}

.o {
    font-size: 55px;
}

#graphic {
    width: 420px;
    height: 420px;
    display: inline-block;
    border: 3px solid black;
    box-sizing: border-box;
    float: right;

    line-height: 420px;
    text-align: center;
}

#controls {
    clear: both;
    display: block;
    margin-top: 2em;
}

.break {
    display: block;
    height: 10px;
}

select {
    border: 0;
    border-bottom: 3px solid black;
    font-size: 20px;
    padding: 4px;
    margin: 0 1em;
    -webkit-appearance: none;
    border-radius: 0;
}

button {
    border: 3px solid black;
    font-size: 20px;
    background-color: inherit;
    padding: 4px 12px;
    width: 150px;
}

#menu {
    text-align: center;
}

#dashboard {
    text-align: center;
    font-size: 20px;
}

#turn {
    display: inline-block;
    padding-top: 8px;
    padding-bottom: 10px;
}

#reset {
    margin-top: 10px;
}

.hidden {
    display: none;
}
